<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Familias de Primer Orden </h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="animated fadeIn fast">Aquí encontrarás, teniendo en cuenta su afinidad funcional, una variedad de Familias de API's con las que se han desarrollado ideas innovadoras, para que puedas evidenciar el potencial que tenemos para brindarte por medio de las API's.</p>
<br>
<br>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_01.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Security</h5>
            <p class="card-text">Contiene APIs proveedoras de OAuth, las cuales permiten la generación de token</p>
            <br>
            <button type="button " class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_13.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Payments</h5>
            <p class="card-text">Para realizar pagos de una forma más fácil.</p>
            <br>
            <button type="button " class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_14.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Analytics</h5>
            <p class="card-text">APIs que brindan analitica para tu negocio.</p>
            <br>
            <button (click)="VerFamiliaAnalitica() " type="button " class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_11.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Account</h5>
            <p class="card-text">APIs para la información de las cuentas de nuestros clientes, asi tendrás clara la información más relevante </p>
            <br>
            <button type="button " class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_12.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Consignments</h5>
            <p class="card-text">Aqui información sobre el API de remesas, realiza tus pagos desde el exterior de forma segura</p>
            <br>
            <button type="button " class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_09.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Channels</h5>
            <p class="card-text">APIs que brindan analitica para tu negocio.</p>
            <br>
            <button type="button " class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>