<div class="footer">
    <p>
        <br> Estrategia de API's
        <br> Grupo Bancolombia
        <div class="title-networks"> Síguenos en nuestras redes sociales</div>
        <ul class="networks" dir="ltr">
            <li class="facebook">
                <a href="https://www.facebook.com/bancolombia" title="Facebook"> <img class="facebook" src="assets/img/facebook (1).png" alt=""></a>
            </li>
            <li class="twitter">
                <a href="https://twitter.com/Bancolombia" title="Twitter"> <img class="twitter" src="assets/img/twitter.png" alt=""></a>
            </li>
            <li class="Linkedin">
                <a href="https://www.linkedin.com/company/22690" title="Linkedin"> <img class="linkedin" src="assets/img/linkedin.png" alt=""></a>
            </li>
            <li class="Instagram">
                <a href="https://instagram.com/bancolombia/" title="Instagram"> <img class="instagram" src="assets/img/instagram.png" alt=""></a>

            </li>
            <li class="Youtube">
                <a href="https://www.youtube.com/user/GrupoBancolombia" title="YouTube"><img class="youtube" src="assets/img/youtube.png" alt=""> </a>
            </li>
        </ul>
</div>