<h3 class="animated fadeIn fast">
    Familias de segundo Orden</h3>
<hr>
<div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action " id="list-pagonomina-list" data-toggle="list" href="#list-pagonomina" role="tab" aria-controls="pagonomina">Pago de Nómina</a>
        <a class="list-group-item list-group-item-action" id="list-pagoproveedores-list" data-toggle="list" href="#list-pagoproveedores" role="tab" aria-controls="pagoproveedores">Pago a Proveedores </a>
        <a class="list-group-item list-group-item-action" id="list-pagoterceros-list" data-toggle="list" href="#list-pagoterceros" role="tab" aria-controls="pagoterceros">Pago a Terceros</a>
        <a class="list-group-item list-group-item-action" id="list-cuentasmaestras-list" data-toggle="list" href="#list-cuentasmaestras" role="tab" aria-controls="cuentasmaestras">Cuentas Maestras</a>
        <a class="list-group-item list-group-item-action" id="list-pagopensiones-list" data-toggle="list" href="#list-pagopensiones" role="tab" aria-controls="pagopensiones">Pago a Pensiones</a>
        <a class="list-group-item list-group-item-action" id="list-transferenciasp2p-list" data-toggle="list" href="#list-transferenciasp2p" role="tab" aria-controls="transferenciasp2p">Transferencias P2P</a>
        <a class="list-group-item list-group-item-action" id="list-transferenciasach-list" data-toggle="list" href="#list-transferenciasach" role="tab" aria-controls="transferenciasach">Tranferencias ACH</a>
        <a class="list-group-item list-group-item-action" id="list-flypass-list" data-toggle="list" href="#list-flypass" role="tab" aria-controls="flypass">Flypass</a>
        <a class="list-group-item list-group-item-action" id="list-girosnacionales-list" data-toggle="list" href="#list-girosnacionales" role="tab" aria-controls="girosnacionales">Giros Nacionales</a>
        <a class="list-group-item list-group-item-action" id="list-botontransferenciasbanco-list" data-toggle="list" href="#list-botontransferenciasbanco" role="tab" aria-controls="botontransferenciasbanco">Boton de Transferencias Banco</a>
    </div>
</div>
<div class="col-8">
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade" id="list-soat" role="tabpanel">
            <h3>Esta es la familia de segundo orden SOAT de Seguros</h3>
        </div>
        <div class="tab-pane fade " id="list-planvida " role="tabpanel " aria-labelledby="list-planvida-list "> Aqui va la informacion de esta primera familiaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</div>
        <div class="tab-pane fade " id="list-planvidarenta " role="tabpanel " aria-labelledby="list-planvidarenta-list ">...</div>
        <div class="tab-pane fade " id="list-planvidaideal " role="tabpanel " aria-labelledby="list-planvidaideal-list ">...</div>
        <div class="tab-pane fade " id="list-planvidamas " role="tabpanel " aria-labelledby="list-planvidamas-list ">...</div>
        <div class="tab-pane fade " id="list-enfermedadesgraves " role="tabpanel " aria-labelledby="list-enfermedadesgraves-list ">...</div>
        <div class="tab-pane fade " id="list-planalamedida " role="tabpanel " aria-labelledby="list-planalamedida-list ">...</div>
        <div class="tab-pane fade " id="list-plansaludmas " role="tabpanel " aria-labelledby="list-plansaludmas-list ">...</div>
        <div class="tab-pane fade " id="list-planhogar " role="tabpanel " aria-labelledby="list-planhogar-list ">...</div>
    </div>
    <br>