<h3 class="animated fadeIn fast">
    Familias de segundo Orden</h3>
<hr>
<div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action " id="list-facturas-list" data-toggle="list" href="#list-facturas" role="tab" aria-controls="facturas">Facturas</a>
        <a class="list-group-item list-group-item-action" id="list-tasasdecambio-list" data-toggle="list" href="#list-tasasdecambio" role="tab" aria-controls="tasasdecambio">Tasas de Cambio</a>
        <a class="list-group-item list-group-item-action" id="list-compras-list" data-toggle="list" href="#list-compras" role="tab" aria-controls="compras">Compras</a>
        <a class="list-group-item list-group-item-action" id="list-recaudodeimpuestos-list" data-toggle="list" href="#list-recaudodeimpuestos" role="tab" aria-controls="recaudodeimpuestos">Recaudo de Impuestos</a>
    </div>
</div>
<div class="col-8">
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade in active " id="list-facturas " role="tabpanel " aria-labelledby="list-facturas-list ">...</div>
        <div class="tab-pane fade " id="list-tasasdecambio " role="tabpanel " aria-labelledby="list-tasasdecambio-list "> Aqui va la informacion de esta primera familiaaaaaaaaaaaaaaaaaaa</div>
        <div class="tab-pane fade " id="list-compras " role="tabpanel " aria-labelledby="list-compras-list ">...</div>
        <div class="tab-pane fade " id="list-recaudodeimpuestos " role="tabpanel " aria-labelledby="list-recaudodeimpuestos-list ">...</div>


    </div>