<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Detalle Tarjeta de Crédito</h3>

<hr>
<p style="font-size: 11px">CLIENTE: MOTOCENTRO HONDA SA.</p>
<p style="font-size: 11px">INFORME DEL MES: ENERO / 2019</p>
<ul>
    <li style="font-size: 15px; font-weight:bold; color:#00448D; font-family: 'Nunito', sans-serif"> Productos: </li>
    <li style="font-size: 15px; font-weight:bold; color:#00448D;font-family: 'Nunito', sans-serif">Tarjeta de Crédito MasterCard Gold Visa - CitiBank N° 123456789</li>
    <li style="font-size: 15px; font-weight:bold; color:#00448D;font-family: 'Nunito', sans-serif">Tarjeta de Crédito Visa - Bancolombia N° 024681012</li>
</ul>
<div class="container" style="height: 740px;">
    <table class=" table table-sm " style="width: 97%">
        <thead>
            <tr>
                <th colspan="5" scope="col" style="color: #00448D; font: bold; background-color: #00448d;border-color: #00448d; color:white">Resumen</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col " style="color: #00448D;  background-color: #ececec">N° de Tarjeta</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Fecha de Corte</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Pago Total</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Cupo Total</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Cupo avances efectivo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 123456789</td>
                <td> 2019-01-22</td>
                <td>$920,000.00</td>
                <td> $2,000,000.00</td>
                <td> $2,000,000.00</td>
            </tr>
            <tr>
                <td> 024681012</td>
                <td> 2019-01-22</td>
                <td> $800,000.00</td>
                <td> $1,000,000.00</td>
                <td> $1,000,000.00</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Saldo en Mora</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Fecha limite Pago</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Pago Minimo</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Cupo Total</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Cupo avances disponible</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> $.00</td>
                <td> 2019-02-06</td>
                <td> $257,000.00</td>
                <td> $1,079,230.00</td>
                <td> $2,000,000.00</td>
            </tr>
            <tr>
                <td> $.00 </td>
                <td> 2019-02-10 </td>
                <td> $200,000.00 </td>
                <td> $1,000,000.00 </td>
                <td> $1,000,000.00 </td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <table class=" table table-sm " style="width: 97%">
        <thead>
            <tr>
                <th colspan="6" scope="col" style="color: #00448D; font: bold; background-color: #00448d;border-color: #00448d; color:white">Detalle aplicación de pagos del mes</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col " style="color: #00448D;  background-color: #ececec">N° de Tarjeta</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Total Pagado</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Capital</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Intereses corrientes</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Intereses Mora</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Cuota de Manejo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 123456789</td>
                <td> $296,496.00</td>
                <td>$273,000.00</td>
                <td> $.00</td>
                <td> $.00</td>
                <td> $22,500.00</td>
            </tr>
            <tr>
                <td> 024681012</td>
                <td> $196,496.00</td>
                <td> $173,000.00</td>
                <td> $.00</td>
                <td> $.00</td>
                <td> $26,000.00</td>
            </tr>
        </tbody>
    </table>
    <!---TABLA DETALLE DE TRANSACCIONES-->
    <br>
    <br>
    <table class=" table table-sm " style="width: 97%">
        <thead>
            <tr>
                <th colspan="8" scope="col" style="color: #00448D; font: bold; background-color: #00448d;border-color: #00448d; color:white">Detalle De Transacciones</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Fecha</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Banco</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">N° de Tarjeta</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Descripción</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Tasa Pactada</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Cuotas</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Valor Transacción</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Saldo por Pagar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 2019-02-08</td>
                <td> CitiBank</td>
                <td> 123456789</td>
                <td> Compra en Latam Airlines</td>
                <td> 28.74 %</td>
                <td> 02/02</td>
                <td> - </td>
                <td> 02/02</td>
            </tr>
            <tr>
                <td> 2019-02-08</td>
                <td> Bancolombia</td>
                <td> 024681012</td>
                <td> Pago Netflix</td>
                <td> 28,74 %</td>
                <td> 01/01</td>
                <td> $40,000.00 </td>
                <td> $40,000.00</td>
            </tr>
            <tr>
                <td> 2019-01-09</td>
                <td> CitiBank</td>
                <td> 123456789</td>
                <td> AliExpress London</td>
                <td> 28.74 %</td>
                <td> 02/36</td>
                <td> $37,686.94</td>
                <td> $35,592.90</td>
            </tr>
            <tr>
                <td> 2019-01-14</td>
                <td> Bancolombia</td>
                <td> 024681012</td>
                <td> Multiplex Viva Envigado</td>
                <td> 28,72 %</td>
                <td> 01/01</td>
                <td> $40,000.00</td>
                <td> 0.00</td>
            </tr>
            <tr>
                <td> 2019-01-16</td>
                <td> Bancolombia</td>
                <td> 024681012</td>
                <td> Abono débito automático</td>
                <td> 28,72 %</td>
                <td> </td>
                <td> $-2,018,473.09</td>
                <td> 0.00</td>
            </tr>
            <tr>
                <td> 2019-01-18</td>
                <td> Bancolombia</td>
                <td> 024681012</td>
                <td> Traslado saldo a favor</td>
                <td> 28,72 %</td>
                <td> -</td>
                <td> $229,862.00</td>
                <td> 0.00</td>
            </tr>
            <tr>
                <td> 2019-01-18</td>
                <td> CitiBank</td>
                <td> 123456789</td>
                <td> Centro experiencia Medellin</td>
                <td> 28.74 %</td>
                <td> 01/06</td>
                <td> $659,934.00</td>
                <td> $549,945.00</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<button (click)="verDetalleExtracto() " style="margin-right: 30px; " class="btn btn-primary btn-small "> REGRESAR </button><br>
<br>