<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Detalle Cuenta de Ahorros</h3>

<hr>
<p style="font-size: 11px">CLIENTE: RED DE MARCAS DISTRIBUCIONES SAS.</p>
<p style="font-size: 11px">INFORME DEL MES: ENERO / 2019</p>
<p style="font-size: 11px">CORREO ELECTRÓNICO: JUANCARDONA1@UNE.NET.CO</p>
<br>
<div style="padding-left: 390px">
    <table class=" table table-responsive-sm table-sm table-bordered text-center " style="text-align: inherit;width: 402px; ">
        <thead>
            <tr>
                <th colspan="3" scope="col" style="color: #00448D; font: bold; background-color: #00448d;border-color: #00448d; color:white">Saldos Parciales</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Banco</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">N° Cuenta</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Saldo Final</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Bancolombia</td>
                <td> 5635</td>
                <td> $30,000.00</td>
            </tr>
            <tr>
                <td> Banco de Bogotá</td>
                <td> 1234</td>
                <td> $10,000.00</td>
            </tr>
            <tr>
                <td> Banco de Occidente</td>
                <td> 5678</td>
                <td> $20,000.00</td>
            </tr>
            <tr>
                <td> BBVA</td>
                <td> 1128 - 1253</td>
                <td> $50,000.00</td>
            </tr>
            <tr>
                <td style="font-weight:bold ; text-align: inherit; background-color: #dddddd; color:#00448d" colspan="2"> TOTAL</td>
                <td style="font-weight:bold; background-color: #dddddd; color:#00448d">$110,000.00</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<table class="table table-responsive-sm table-sm table-bordered " style="border-color: #00448d">
    <thead>
        <tr>
            <th scope="col " style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
            <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">Banco </th>
            <th scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">N° Cuenta</th>
            <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Descripción</th>
            <th scope="col " style="background-color: #00448d;border-color: #00448d; color:white">Ciudad</th>
            <th scope="col " style=" background-color: #00448d;border-color:#00448d; color:white">Valor</th>
            <th scope="col " style="background-color: #00448d;border-color: #00448d; color:white">Saldo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>02/01</td>
            <td>Banco de Bogotá</td>
            <td>1234</td>
            <td>Consignación</td>
            <td>Medellin</td>
            <td>$ 20,000.00</td>
            <td>$ 20,000.13</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>02/01</td>
            <td>Banco de Occidente</td>
            <td>5678</td>
            <td>Gravamen Movimientos financieros</td>
            <td>Medellín</td>
            <td>$-296.00</td>
            <td>$ 54,000.13</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>03/01</td>
            <td>Bancolombia</td>
            <td>5635</td>
            <td>Compra en Multiplex</td>
            <td>Medellín/Poblado</td>
            <td>$-13,950.00</td>
            <td>$47,000.13</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>03/01</td>
            <td>BBVA</td>
            <td>1128</td>
            <td>Abono intereses ahorro</td>
            <td>Medellín</td>
            <td>$252.00</td>
            <td>$12,000.00</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>04/01</td>
            <td>BBVA</td>
            <td>1253</td>
            <td>Retiro cajero parque Lleras</td>
            <td>Medellín/Poblado</td>
            <td>$-20,000.00</td>
            <td>$30,000.13</td>
        </tr>
        <tr>
            <td>03/01</td>
            <td>Bancolombia</td>
            <td>5635</td>
            <td>Retiro cajero autoservicios</td>
            <td>Medellín</td>
            <td>$-10,000.00</td>
            <td>$20,000.00</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>10/01</td>
            <td>BBVA</td>
            <td>1128</td>
            <td>Compra por internet</td>
            <td>Medellín</td>
            <td>$20,000.00</td>
            <td>$30,000.00</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>15/01</td>
            <td>Banco de Bogotá</td>
            <td>1234</td>
            <td>Retiro cajero parque Lleras</td>
            <td>Medellín/Poblado</td>
            <td>$-20,000.00</td>
            <td>$30,000.13</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>20/01</td>
            <td>Banco de Occidente</td>
            <td>5678</td>
            <td>Abono interes ahorro</td>
            <td>Medellín/Poblado</td>
            <td>$50.00</td>
            <td>$30,050.13</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>22/01</td>
            <td>Banco de Occidente</td>
            <td>5678</td>
            <td>Retiro correspnsal bancario</td>
            <td>Medellín</td>
            <td>$-14,000.00</td>
            <td>$20,000.13</td>
        </tr>
    </tbody>
</table>
<br>
<button (click)="verDetalleExtracto() " style="margin-right: 30px; " class="btn btn-primary btn-small "> REGRESAR </button>