<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Familias de Segundo Orden</h3>

<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<section class="animated fadeIn fast">
    Aqui encontrarás las Familias de API's de segundo orden de la Familia Analítica, las cuales podrá utilizar como mejor se acomode a sus necesidades o a las necesidades de su empresa</section>
<br>
<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_14.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Aggregation</h5>
            <p class="card-text">APIs que brindan la oportunidad de agregación de documentos</p>
            <br>
            <button (click)="verFamiliaAgregacion() " type="button " class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_18.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">PFM</h5>
            <p class="card-text">Aquí va la descripción de la familia de APIs PFM.</p>
            <br>
            <button type="button" class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="./assets/img/product_08.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Addressing</h5>
            <p class="card-text">Aqui va la descripción de la familia de APIs direccionamiento.</p>
            <br>
            <button type="button" class="btn btn-primary "> Ver familia</button>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<button (click)="verFamilias() " class="btn btn-primary btn-small" style="margin-right: 30px">REGRESAR </button>
<br>
<br>
<footer class="detalle-footer" role="contentinfo">
    <div class="region region-footer">
        <div class="region-inner clearfix">
            <div id="block-block-1" class="block block-block no-title odd first last block-count-5 block-region-footer block-1">
                <div class="block-inner clearfix">
                    <div class="block-content content no-title">
                        <div class="footer"><span class="centered_link"><a href="/terms">Terms of use</a> </span><span class="centered_link"><a href="/privacy">Privacy policy</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="img-footer" src="https://development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/sites/development-bancolombiabluemix-dev.developer.us.apiconnect.ibmcloud.com/themes/banka_connect_theme/images/logo-bancolombia-footer.svg" alt="">
</footer>