<h3 class="animated fadeIn fast">
    Familias de segundo Orden</h3>
<hr>
<div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action " id="list-soat-list" data-toggle="list" href="#list-soat" role="tab" aria-controls="soat">SOAT</a>
        <a class="list-group-item list-group-item-action" id="list-planvida-list" data-toggle="list" href="#list-planvida" role="tab" aria-controls="planvida">Plan Vida</a>
        <a class="list-group-item list-group-item-action" id="list-planvidarenta-list" data-toggle="list" href="#list-planvidarenta" role="tab" aria-controls="planvidarenta">Plan Vida Renta</a>
        <a class="list-group-item list-group-item-action" id="list-planvidaideal-list" data-toggle="list" href="#list-planvidaideal" role="tab" aria-controls="planvidaideal">Plan Vida Ideal</a>
        <a class="list-group-item list-group-item-action" id="list-planvidamas-list" data-toggle="list" href="#list-planvidamas" role="tab" aria-controls="planvidamas">Plan Vida Más</a>
        <a class="list-group-item list-group-item-action" id="list-enfermedadesgraves-list" data-toggle="list" href="#list-enfermedadesgraves" role="tab" aria-controls="enfermedadesgraves">Enfermedades Graves</a>
        <a class="list-group-item list-group-item-action" id="list-planalamedida-list" data-toggle="list" href="#list-planalamedida" role="tab" aria-controls="planalamedida">Plan Vida a la Medida</a>
        <a class="list-group-item list-group-item-action" id="list-plansaludmas-list" data-toggle="list" href="#list-plansaludmas" role="tab" aria-controls="plansaludmas">Plan Salud Más</a>
        <a class="list-group-item list-group-item-action" id="list-planhogar-list" data-toggle="list" href="#list-planhogar" role="tab" aria-controls="planhogar">Plan Hogar</a>
        <a class="list-group-item list-group-item-action" id="list-planingresoprotegido-list" data-toggle="list" href="#list-planingresoprotegido" role="tab" aria-controls="planingresoprotegido">Plan Ingreso Protegido</a>
    </div>
</div>
<div class="col-8">
    <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade" id="list-soat" role="tabpanel">
            <h3>Esta es la familia de segundo orden SOAT de Seguros</h3>
        </div>
        <div class="tab-pane fade " id="list-planvida " role="tabpanel " aria-labelledby="list-planvida-list "> </div>
        <div class="tab-pane fade " id="list-planvidarenta " role="tabpanel " aria-labelledby="list-planvidarenta-list ">...</div>
        <div class="tab-pane fade " id="list-planvidaideal " role="tabpanel " aria-labelledby="list-planvidaideal-list ">...</div>
        <div class="tab-pane fade " id="list-planvidamas " role="tabpanel " aria-labelledby="list-planvidamas-list ">...</div>
        <div class="tab-pane fade " id="list-enfermedadesgraves " role="tabpanel " aria-labelledby="list-enfermedadesgraves-list ">...</div>
        <div class="tab-pane fade " id="list-planalamedida " role="tabpanel " aria-labelledby="list-planalamedida-list ">...</div>
        <div class="tab-pane fade " id="list-plansaludmas " role="tabpanel " aria-labelledby="list-plansaludmas-list ">...</div>
        <div class="tab-pane fade " id="list-planhogar " role="tabpanel " aria-labelledby="list-planhogar-list ">...</div>
    </div>
    <br>