<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 34px">API Aggregation</h3>
<hr>
<h4 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold">Descripción</h4>
<p class="animated fadeIn fast" style="text-justify:auto">
    El API de Agregación permite el envío de archivos digitales de extractos de cualquier banco, permitiendo al usuario final tener una consolidación unificada de cada producto, de tal forma que sea más sencillo para el usuario ver el detalle de sus productos
    en un solo lugar.
    <br> Como requisito para el envío de sus archivos, el usuario deberá aceptar los términos y condiciones dados por el Grupo Bancolombia, donde autoriza el uso y la manipulación de su información.
    <br> El usuario deberá seleccionar los extractos uno por uno, cargarlos, enviarlos y posterior a esto, encontrará todo el detalle y la información unificada de todos los productos bancarios, también contará con un resumen de ingresos y egresos por
    mes de todos los bancos y opciones adicionales para ver recomendaciones y gráficas por parte del API.
</p>
<br>
<button (click)="verCargaDocumentosPyme()" type="button " class="btn btn-primary "> Ingresar </button>