<h3 class="animated fadeIn fast">
    Familias de segundo Orden</h3>
<hr>
<div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action " id="list-bam-list" data-toggle="list" href="#list-bam" role="tab" aria-controls="bam">BAM</a>
        <a class="list-group-item list-group-item-action" id="list-bancoagricola-list" data-toggle="list" href="#list-bancoagricola" role="tab" aria-controls="bancoagricola">Banco Agrícola</a>
    </div>
</div>
<div class="col-8">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade " id="list-bam-list" role="tabpanel " aria-labelledby="list-bam-list ">...</div>
        <div class="tab-pane fade" id="list-bancoagricola" role="tabpanel " aria-labelledby="list-bancoagricola-list "> Aqui va la informacion de esta primera familiaaaaaaaaaaaaaaaaaaa</div>
    </div>