<h3 class="animated fadeIn fast">
    Familias de segundo Orden</h3>
<hr>
<div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action " id="list-transferecias-list" data-toggle="list" href="#list-transferencias" role="tab" aria-controls="transferencias">Transferencias</a>
        <a class="list-group-item list-group-item-action" id="list-reglasdeenrutamiento-list" data-toggle="list" href="#list-reglasdeenrutamiento" role="tab" aria-controls="reglasdeenrutamiento">Reglas de Enrutamiento</a>
        <a class="list-group-item list-group-item-action " id="list-negociaciondedivisas-list" data-toggle="list" href="#list-negociaciondedivisas" role="tab" aria-controls="negociaciondedivisas">Negociación de Divisas</a>
        <a class="list-group-item list-group-item-action" id="list-conciliaciones-list" data-toggle="list" href="#list-conciliaciones" role="tab" aria-controls="conciliaciones">Conciliaciones</a>

    </div>
</div>
<div class="col-8">
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade " id="list-transferecias-list" role="tabpanel " aria-labelledby="list-transferecias-list ">...</div>
        <div class="tab-pane fade" id="list-reglasdeenrutamiento" role="tabpanel " aria-labelledby="list-reglasdeenrutamiento-list "> Aqui va la informacion de esta primera familiaaaaaaaaaaaaaaaaaaa</div>
        <div class="tab-pane fade " id="list-negociaciondedivisas-list" role="tabpanel " aria-labelledby="list-negociaciondedivisas-list ">...</div>
        <div class="tab-pane fade" id="list-conciliaciones" role="tabpanel " aria-labelledby="list-conciliaciones-list "> Aqui va la informacion de esta primera familiaaaaaaaaaaaaaaaaaaa</div>

    </div>