<h3 class="animated fadeIn fast" style="font-family: 'Nunito', sans-serif;font-weight: bold; font-size: 33px">Detalle Cuentas de Inversión</h3>

<hr>
<p style="font-size: 11px">CLIENTE: MOTOCENTRO HONDA SA.</p>
<p style="font-size: 11px">INFORME DEL MES: ENERO / 2019</p>
<ul>
    <li style="font-size: 15px; font-weight:bold; color:#00448D; font-family: 'Nunito', sans-serif"> Productos: </li>
    <li style="font-size: 15px; font-weight:bold; color:#00448D;font-family: 'Nunito', sans-serif">Tarjeta de Crédito MasterCard Gold Visa - CitiBank N° 123456789</li>
    <li style="font-size: 15px; font-weight:bold; color:#00448D;font-family: 'Nunito', sans-serif">Tarjeta de Crédito Visa - Bancolombia N° 024681012</li>
</ul>
<br>
<div style="padding-left: 310px">
    <table class=" table table-responsive-sm table-sm table-bordered text-center " style="text-align: inherit;width: 405px; ">
        <thead>
            <tr>
                <th colspan="4" scope="col" style="color: #00448D; font: bold; background-color: #00448d;border-color: #00448d; color:white">Saldos Parciales</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Banco</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">N° Cuenta</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Rentabilidad Periodo</th>
                <th scope="col " style="color: #00448D;  background-color: #ececec">Saldo Final</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Bancolombia</td>
                <td> 111100002222</td>
                <td> 2.98 % NETA</td>
                <td> $550,305.84</td>
            </tr>
            <tr>
                <td> Banco de Bogotá</td>
                <td> 222233334444</td>
                <td> 2.95 % NETA</td>
                <td> $400,305.84</td>
            </tr>

            <tr>
                <td style="font-weight:bold ; text-align: inherit " colspan="3"> TOTAL</td>
                <td style="font-weight:bold">$1,000,000.00</td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
<table class="table table-responsive-sm table-sm table-bordered " style="border-color: #ffffff">
    <thead>
        <tr>
            <th rowspan="2" scope="col " style=" background-color: #00448d;border-color: #00448d; color:white">Fecha</th>
            <th rowspan="2" scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">Banco</th>
            <th rowspan="2" scope="col " style=" background-color:#00448d;border-color: #00448d; color:white">Transacción</th>
            <th scope="col" colspan="2" style=" background-color: #00448d;border-color: #00448d; color:white"> Movimientos </th>
            <th scope="col" style=" background-color: #00448d;border-color: #00448d; color:white"> Saldo </th>

        </tr>
        <tr>
            <th style=" background-color: #00448d;border-color: #00448d; color:white">Valor Pesos</th>
            <th style=" background-color: #00448d;border-color: #00448d; color:white">Valor Unidades</th>

            <th style=" background-color: #00448d;border-color: #00448d; color:white">Valor Pesos</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>02/01</td>
            <td>Bancolombia</td>
            <td>Apertura</td>
            <td>$350,000.00</td>
            <td>12,1345678</td>
            <td>$350,000.00</td>

        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>02/01</td>
            <td>Bancolombia</td>
            <td>Adición</td>
            <td>$250,000.00</td>
            <td>10,7593825</td>
            <td>$600,195.27</td>

        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>03/01</td>
            <td>Bango de Bogotá</td>
            <td>Apertura</td>
            <td>$100,000.00</td>
            <td>6,1234567</td>
            <td>100,000.00</td>

        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>03/01</td>
            <td>Banco de Bogotá</td>
            <td>Adición</td>
            <td>$300,000.00</td>
            <td>12,567893</td>
            <td>$400,000.00</td>

        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>04/01</td>
            <td>Bancolombia</td>
            <td>Traspado a cuenta de ahorros</td>
            <td>$ -50,000.00</td>
            <td>-6,6345465</td>
            <td>550,643.000</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="2" style="background-color: #dddddd; color:#00448d; font-weight:bold">Saldo Anterior</th>
            <th colspan="2" style="background-color: #dddddd; color:#00448d; font-weight:bold">Adiciones</th>
            <th colspan="2" style="background-color: #dddddd; color:#00448d; font-weight:bold">Retiros</th>
        </tr>
        <tr>
            <th colspan="1" style="background-color: #ececec; color:#00448d; font-weight:bold"> Valor en Pesos</th>
            <th colspan="1" style="background-color: #ececec; color:#00448d; font-weight:bold"> Valor en Unidades</th>
            <th colspan="2" style="background-color: #ececec; color:#00448d; font-weight:bold"> Valor en Pesos</th>
            <th colspan="2" style="background-color: #ececec; color:#00448d; font-weight:bold"> Valor en Pesos</th>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>0,00</td>
            <td>0,0000000</td>
            <td colspan="2">$950,000.00</td>
            <td colspan="2">0,00</td>
        </tr>
        <tr>
            <th colspan="1" style="background-color: #dddddd; color:#00448d; font-weight:bold">Rendimiento Neto</th>
            <th colspan="1" style="background-color: #dddddd; color:#00448d; font-weight:bold">Retención</th>
            <th colspan="4" style="background-color: #dddddd; color:#00448d; font-weight:bold">Nuevo Saldo</th>
        </tr>
        <tr>
            <th colspan="1" style="background-color: #ececec; color:#00448d; font-weight:bold">Valor en Pesos</th>
            <th colspan="1" style="background-color: #ececec; color:#00448d; font-weight:bold">Valor en Pesos</th>
            <th colspan="2" style="background-color: #ececec; color:#00448d; font-weight:bold">Valor en Pesos</th>
            <th colspan="2" style="background-color: #ececec; color:#00448d; font-weight:bold">Valor en Unidades</th>
        </tr>
        <tr>
            <!--- FILAAAAAAAAA #1-->
            <td>605,84</td>
            <td>0,00</td>
            <td colspan="2">$950,605.84</td>
            <td colspan="2">28,34567890</td>
        </tr>
    </tfoot>
</table>
<button (click)="verDetalleExtracto() " style="margin-right: 30px; " class="btn btn-primary btn-small "> REGRESAR </button>